html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expr-display {
    height: 34px;
    font-size: 16px;
    text-align: right;
    color: gray;
}

.result-display {
    height: 80px;
    font-size: 24px;
    text-align: right;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    border-radius: 6%;
    padding: 20px;
    margin-top: 80px;
    background-color: #5a5d64;
}

.operator-block {
    width: 80px;
}

.buttons {
    max-width: 335px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 5px;
}

button {
    width:80px;
    height: 48px;
    padding: 0;
}

.bottom-row {
    display: flex;
}

.operator,
.function {
    background-color: #93867F;
}

#equals {
    background-color: #df7234;
}